body {
    background-color: hsl(214, 47%, 23%);
}
.score {
    width: 600px;
    height: 150px;
    border-radius: 10px;
    border:2px solid ;
    border-color: rgb(143, 135, 135);
    background-color: transparent;
    margin: auto;
    margin-top: 50px;
}
.score h1 {
    margin-right: -25px;
    float: left;
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 30px;
}   
.score span {
    display: block;
}
.caja-score{ 
    margin-right: 50px;
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}
.caja-score span{
    color: black;
    display: block;
}

.triangulo{
    margin-top: 95px;
    text-align: center;
}
.papel {
    border: solid 20px hsl(230, 89%, 62%);
    position: absolute;
    top: 38%;
    left: 30%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
}
.piedra{
    border: solid 20px hsl(349, 70%, 56%);
    border: solid 20px ;
    right: 45%;
    top: 72%;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
}
.scissors{
    border: solid 20px hsl(39, 89%, 49%) ;
    right: 31%;
    top: 38%;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
}
.rules{
    color: white;
    text-align: center;
    font-size: xx-small;
    margin-top: 65px;
    float: right;
    width: 58px;
    height: 45px;
    border-radius: 10px;
    border:2px solid ;
    border-color: rgb(143, 135, 135);
}
